.container {
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
}

.container:after {
  background-color: #ffffff;
  content: '';
  display: table;
  clear: both;
}

.faqContainer:after {
  content: '';
  display: table;
  clear: both;
}

.FaqColumn {
  float: left;
  width: 32%;
  height: 180px;
  padding: 5px;
  margin: 4px 4px 35px 4px;
  border-radius: 8px;

  background-color: #ebe9e9eb;
}
.faqTitle {
  height: 16px;
  width: 90%;
  margin: 4px auto;
  font-size: 16px;
  background-color: #e2dddd;
  border-radius: 4px;
}

.faqSubTitle {
  width: 90%;
  height: 16px;
  margin: 4px auto;
  font-size: 14px;
  background-color: #e2dddd;
  border-radius: 4px;
}

.photoContainer {
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  height: 800px;
  overflow: scroll;
}

.photoCard {
  width: 45%;
  height: 310px;
  float: left;
  margin: 30px 10px 0 10px;
}

.photoChannel {
  font-size: 14px;
  background-color: #ebebeb;
  height: 20px;
  width: 80%;
  border-radius: 6px;
}

.photoMetrics {
  font-size: 14px;
  height: 20px;
  width: 90%;
  background-color: #ebebeb;
  border-radius: 6px;
  margin: 0 0 0px 10px;
}

.photoBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photoTitleContainer {
  width: 70%;
}

.bottomRight {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  height: 380px;
  float: left;
  width: 32%;
  margin: 5px;
  background-color: #f5f5f5;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.menuContainer {
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
}

.menuCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin: 10px;
  padding: 0 10px;

  width: 100%;
  height: 160px;
}

.menuNameContainer {
  width: 250px;
  text-align: left;
}

.menuImage {
  width: 140px;
  height: 85%;
  border-radius: 50%;
  background-color: #ebe9e9eb;
}

.menuInnerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-left: 20px;
}

.menuCardTitle {
  background-color: #ebe9e9eb;
  width: 200px;
  height: 20px;
  border-radius: 4px;
  margin-right: 20px;
}

.menuCardChannel {
  background-color: #ebe9e9eb;
  width: 150px;
  height: 15px;
  border-radius: 4px 4px 4px 0;
  margin: 0;
}

.menuCardChannel2 {
  background-color: #ebe9e9eb;
  width: 100px;
  height: 15px;
  border-radius: 0px 4px 4px 4px;
  margin: 0;
}

.menuPriceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.minus {
  width: 30px;
  height: 40px;
  background: #ebe9e9eb;
  border-radius: 8px;
}

.amount {
  width: 12px;
  height: 20px;
  background: #ebe9e9eb;
  margin: auto 10px;
  border-radius: 8px;
}

.price {
  width: 70px;
  height: 40px;
  background: #ebe9e9eb;
  border-radius: 8px;
  margin-left: 10px;
}

.add {
  width: 28px;
  height: 40px;
  background: #ebe9e9eb;
  border-radius: 8px;
  margin: 0 10px;
}

@media (max-width: 1100px) {
  .menuContainer {
    padding: 0px;
  }

  .menuImage {
    background-color: #ebe9e9eb;
    margin-right: 10px;
  }

  .menuInnerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0;
  }

  .menuNameContainer {
    width: 200px;
    text-align: left;
    margin-bottom: 10px;
  }
  .menuCardTitle {
    background-color: #ebe9e9eb;
    width: 80%;
    height: 20px;
    border-radius: 4px;
    margin: 0 0 5px 0;
  }

  .menuCardChannel {
    background-color: #ebe9e9eb;
    width: 60%;
    height: 15px;
    border-radius: 4px 4px 4px 0;
    margin: 0;
  }

  .menuCardChannel2 {
    display: none;
  }

  .add {
    width: 60px;
  }
}

@media (max-width: 1000px) {
  .FaqColumn {
    width: 45%;
    height: 180px;
  }
}

@media (max-width: 900px) {
  .photoCard {
    width: 98%;
    height: 310px;
    float: left;
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 840px) {
  .menuContainer {
    margin: 0px auto;
    width: 80%;
  }
  .photoCard {
    width: 90%;
    height: 310px;
    float: left;
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 500px) {
  .menuContainer {
    margin: 0px auto;
    width: 98%;
  }
  .menuCard {
    height: auto;
    width: auto;
    padding: 10px;
  }
  .FaqColumn {
    width: 98%;
    height: auto;
  }
  .menuImage {
    width: 100px;
    height: 63px;
    border-radius: 50%;
  }
  .photoCard {
    width: 98%;
    float: left;
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 350px) {
  .menuContainer {
    margin: 0px auto;
    width: 98%;
  }
  .menuCard {
    height: auto;
    width: auto;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
  }

  .menuImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .menuInnerContainer {
    width: auto;
  }

  .add {
    width: 54px;
    height: 54px;
  }
}

@media (max-width: 800px) {
  .card {
    width: 47%;
  }
}

@media (max-width: 500px) {
  .card {
    width: 97%;
  }
}

.cardImage {
  width: 100%;
  height: 60%;
  background-color: #ebebeb;
  margin-bottom: 10px;
  border-radius: 8px;
}

.cardTitle {
  background-color: #ebebeb;
  height: 30px;
  width: 60%;
  margin: 0 0 10px 10px;
  border-radius: 8px;
}

.cardChannel {
  font-size: 14px;
  background-color: #ebebeb;
  height: 16px;
  width: 80%;
  border-radius: 6px;
  margin: 0 0 40px 10px;
}

.cardMetrics {
  font-size: 14px;
  height: 20px;
  width: 90%;
  background-color: #ebebeb;
  border-radius: 6px;
  margin: 0 0 5px 10px;
}

.shimmerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 2s infinite;
}
.shimmer {
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: skew(-20deg);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}
